[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gencor"]
	path = gencor
	url = https://github.com/cran/gencor
	shallow = true
	registered = true
